<html>
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="../images/newspaper.png"/>
    <title>HMNEWS</title>
  </head>
  <body>
    {% if session %}
        <h1>Welcome {{session.userinfo.name}}!</h1>
	<hr>
        <p>
	<a href="/news"><h2>CLICK HERE FOR NEWS</a>
		<br>
		<a href="/logout">logout</a>
	</p>
	<a href="/news"><img src="../images/breaking.gif" width="750" height="500"></img></a>
    {% else %}
        <h1>Welcome to HMNews! Please login</h1>
	<p><a href="/login"><h2>Login/Sign Up</h2></a></p>
	<a href="/login"><img src="../images/lego.gif" width="750"></img></a>
     {% endif %}
  </body>
</html>
