<html>
  <head>
    <meta charset="utf-8" />
    <title>HMNEWS</title>
  </head>
  <body>
    {% if session %}
        <h1>Welcome {{session.userinfo.name}}!</h1>
	<hr>
        <p>
	<a href="/news"><h2>CLICK HERE FOR NEWS</a>
		<br>
		<a href="/logout">logout</a>
	</p>
	<iframe src="https://giphy.com/embed/n2IPMYMthV0m4" width="480" height="338" frameBorder="0"></iframe>
	<!--<div><pre>{{pretty}}</pre></div>-->
    {% else %}
        <h1>Welcome Guest</h1>
        <p><a href="/login">Login</a></p>
    {% endif %}
  </body>
</html>
