<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="icon" href="../images/newspaper.png"/>
    <title>HMNews</title>
    <nav class="navbar navbar-expand-lg bg-light">
  <div class="container-fluid">
          <a class="navbar-brand" href="/news"><h3>News</h3></a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <a class="nav-link" href="/logout">Logout</a>
      </ul>
    </div>
  </div>
</nav>
</head>
<body>
	<h1>Welcome {{session["userinfo"]["name"]}}!</h1>
	<p>
		<h2>Likes:</h2>
		{% for like in likes %}
			{% if session["userinfo"]["email"] == like[4] %}
			<table>
				<tr><td><h3><a href={{like[1]}}>{{like[2]}}</a></h3></td> <td>Author: {{like[5]}}</td></tr>
			</table>
			{% endif %}
		{% endfor %}
		<h2>Dislikes:</h2>
		{% for dislike in dislikes %}
			{% if session["userinfo"]["email"] == dislike[4] %}
			<table>
				<tr><td><h3><a href={{dislike[1]}}>{{dislike[2]}}</a></h3></td> <td>Author: {{dislike[5]}}</td></tr>
			</table>
			{% endif %}
		{% endfor %}
	</p>
</body>
